/* h1{
    font-size: 30px;
    color: blue
}
p{
    color: green
} */
/* span{
    color: yellow;
    font-size: 30px;
} */

/* div{
    background-color: green;
    display: inline;
}

span{
    background-color: skyblue;
} */

.section1{
    width: 900px;
    margin: auto;
    border: 3px solid green;
}

.section2{
    margin-top: 50px;
    max-width: 900px;
    margin: auto;
    border: 3px solid yellow;
}